<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.0.1" package="com.companyname.extras" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:requestLegacyExternalStorage="true" android:label="Extras.Android" android:theme="@style/MainTheme">
		<provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
			android:icon="@mipmap/ic_launcher"
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data></provider>
	</application>
	<!--<application android:label="Extras"
               android:icon="@mipmap/ic_launcher"
               
               android:appCategory="productivity"></application>-->
	<!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
	<queries>
		<intent>
			<action android:name="android.intent.action.SENDTO" />
			<data android:scheme="mailto" />
		</intent>
	</queries>
</manifest>